<a href="https://colab.research.google.com/github/sallape/AI-Public/blob/main/LogisticREgression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: connect to gdrive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

data_Credit_worthiness = pd.read_excel('/content/drive/MyDrive/Intellipaat/LogisticRegression/CreditWorthiness.xlsx',sheet_name='Data')

data_census_income = pd.read_csv('/content/drive/MyDrive/Intellipaat/LogisticRegression/census-income.csv')

data_census_income.head()
data_Credit_worthiness.head()

,Cbal,Cdur,Chist,Cpur,Camt,Sbal,Edur,InRate,MSG,Oparties,...,Prop,age,inPlans,Htype,NumCred,JobType,Ndepend,telephone,foreign,creditScore
0,0 <= Rs. < 2000,9,all settled till now,Business,13790,Rs. < 1000,1 to 4 years,2,married or widowed male,no one,...,real estate,27,bank,own,1,employee with official position,1,yes,no,good
1,0 <= Rs. < 2000,15,dues not paid earlier,electronics,15250,no savings account,more than 7 years,4,single male,"yes, guarantor",...,real estate,50,none,own,2,employee with official position,1,yes,no,good
2,0 <= Rs. < 2000,36,none taken/all settled,Business,19410,Rs. < 1000,more than 7 years,4,single male,no one,...,Unknown,61,none,free,1,"employed either in management, self or in high...",1,yes,no,bad
3,0 <= Rs. < 2000,48,none taken/all settled,Business,144090,Rs. < 1000,1 to 4 years,2,single male,no one,...,Other cars etc.,25,none,own,1,employee with official position,1,yes,no,bad
4,no checking account,24,all settled till now,electronics,31690,Rs. < 1000,less than 1 year,4,divorced or separated or married female,no one,...,life insurance/building society,26,none,own,1,employee with official position,1,yes,no,good

In [ ]:
data_census_income.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [ ]:
data_census_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
#•	How many types of occupations do we have?

#non_alpha_rows = data_census_income[~data_census_income["occupation"].str.isalpha()]
#non_hyphen_rows = non_alpha_rows[~non_alpha_rows["occupation"].str.contains("-")]
#pd.concat([data_census_income,non_hyphen_rows,non_hyphen_rows]).drop_duplicates(keep=False)
#data_clean.head(3)

alpha_rows = data_census_income[data_census_income["occupation"].str.isalpha()]

hyphen_rows = data_census_income[data_census_income["occupation"].str.contains("-")]

total = alpha_rows["occupation"].nunique() + hyphen_rows["occupation"].nunique()

total_rows = pd.concat([alpha_rows,hyphen_rows],axis=1)

total_rows.drop_duplicates()
total_rows['occupation'].nunique()

occupation     1
occupation    13
dtype: int64

In [ ]:
#•	How many people are working as tech support and have an annual income greater than 50k?

data_census_income.head(5)
tech_supp_data = data_census_income[data_census_income['occupation'].str.contains('tech|support')]
tech_supp_data.head(3)
tech_supp_data['occupation'].value_counts()
tech_clean = tech_supp_data[tech_supp_data['annual_income'].str.contains('>50K')]
tech_clean = tech_clean.drop_duplicates()
tech_clean['annual_income'].value_counts()
#its 283 but the ans is 278 ????

annual_income
>50K    283
Name: count, dtype: int64

In [ ]:
# prompt: replace missing values with NaN

data_census_income.fillna(np.nan, inplace=True)

In [ ]:
#•	How many total missing values are present in the dataset?

missing_values = data_census_income.isnull().sum()

print(missing_values)


# but the answer is 4262????

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [ ]:
#•	If there are missing values in the Marital Status column, which option among the following should be used for replacing the missing values:

#Mode

In [ ]:
# How many people are having private work classes and are not from the United States of America?
data_census_income.head(3)

not_united_states = data_census_income[~data_census_income['native-country'].str.contains('United-States')]
not_united_states['workclass'].str.contains('Private').value_counts()

# 2561 but answer is 2151

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [ ]:
#•	How many people are either having Annual Income(last column) less than or equal to 50k or their working hours is greater than or equal to 40 hrs:

annual_income_lessthan_50k = data_census_income[data_census_income['annual_income'].str.contains('<=50')]
work_hrs_more_than_40hr = data_census_income[data_census_income['hours-per-week'] > 40]
total_data = pd.concat([annual_income_lessthan_50k,work_hrs_more_than_40hr],axis=0)
total_data = total_data.drop_duplicates()
total_data.shape[0]

#28553 but answer is 29505

28553

In [ ]:
# prompt: how many have less than 50k or greater than 30hrs

less_than_50k = data_census_income[data_census_income['annual_income'].str.contains('<=50')]
greater_than_30hrs = data_census_income[data_census_income['hours-per-week'] >= 30]
combined_data = pd.concat([less_than_50k, greater_than_30hrs], axis=0)
unique_individuals = combined_data.drop_duplicates()
number_of_individuals = unique_individuals.shape[0]
print(f"Number of individuals with annual income less than or equal to 50k or working hours greater than or equal to 30: {number_of_individuals}")

In [ ]:
#•	Choose the code which is used to perform reset indexes in the original data frame.
DATA.RESET_INDEX(INPLACE=TRUE)

In [ ]:
#•	What is the cost function used in Binary Logistic Regression?
LOG LOSS

In [ ]:
#•	Which below method is used to find the best fitting line in logistic regression
MAXIMUM LIKELIHOOD

In [ ]:
#•	What is the relation between Sensitivity and Specificity?

SENSITIVITY INCREASES SPECIFICITY DECREASES

In [ ]:
# prompt: adding two data frame

data_combined = pd.concat([data_census_income, data_Credit_worthiness], axis=1)
data_combined.head()

In [ ]:
#•	How many people are working as tech support and have an annual income greater than 50k?
alpha_rows.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income,special_characters
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,[]
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,[]
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K,[]
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K,[]
60,30,Private,59496,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,2407,0,40,United-States,<=50K,[]

In [ ]:
data_census_income.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
annual_income        0
dtype: int64

In [ ]:
data_census_income['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', nan, 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [ ]:
data_census_income['annual_income'] = data_census_income['annual_income'].astype(float)
data_filtered = data_census_income[data_census_income['occupation']=='Tech-support']
#data_filtered['annual_income'] = data_filtered['annual_income'].apply(pd.to_numeric)
data_filtered = data_filtered[data_filtered['annual_income'] > 50000]
data_filtered.count()

ValueError: could not convert string to float: '<=50K'

In [ ]:
# prompt: how to remove data columns that have <= , >= >

import re

def remove_columns_with_operators(df):
  """
  Removes columns from a DataFrame that have names containing <=, >=, >.

  Args:
      df: The DataFrame to process.

  Returns:
      A new DataFrame with the filtered columns.
  """

  # Compile a regular expression to match column names with operators
  pattern = re.compile(r"(<=|>=|>).*")

  # Filter the columns based on the regular expression
  filtered_columns = [col for col in df.columns if not pattern.match(col)]

  # Return a new DataFrame with the filtered columns
  return df[filtered_columns]

# Use the function to remove columns with operators
df_filtered = remove_columns_with_operators(data_census_income)

# Print the filtered DataFrame
print(df_filtered.head())

In [ ]:
# prompt: how to remove special chat from a number in a column

import re
df_filtered['annual_income'] = df_filtered['annual_income'].apply(lambda x: re.sub(r'\D+', '', str(x)))

In [ ]:
data_fil = data_census_income[data_census_income['native-country'] != 'United-States']
data_fil = data_fil[data_fil['workclass'] == 'Private']
data_fil.count()

age               2151
workclass         2151
fnlwgt            2151
education         2151
education-num     2151
marital-status    2151
occupation        2151
relationship      2151
race              2151
sex               2151
capital-gain      2151
capital-loss      2151
hours-per-week    2151
native-country    2151
annual_income     2151
dtype: int64

In [ ]:
data_census_income['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', 'Self-emp-inc', 'Without-pay'], dtype=object)